<!DOCTYPE HTML>
<html>
    <head>
        <title>Radix hospital</title>
        
       
            <script src="https://use.fontawesome.com/c6387218c5.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
                <style>
                    table {
                             border-collapse: collapse;
                         }

                        table, th, td {
                            border: 1px solid black;
                        }
              </style>
          
    <script>
   //array of possible doctors in the same order as they appear in the doctor selection list 
   var doctorLists = new Array(4); 
  doctorLists["empty"] = [""]; 
    doctorLists["gynaecology"]= ["","Dr. Renu Malik", "Dr. Vaishali Saini", "Dr. Santosh Sachdeva"];  
  doctorLists["ophthamology"] = ["","Dr. Nidhi Gupta"]; 
  doctorLists["cosmetology"] = ["","Dr. Jinender Jain", "Dr. Nitish Singhal"]; 
 doctorLists["ent"]= ["","Dr. AK Lahri", "Dr. SK gupta"]; 
  doctorLists["medicine"]= ["","Dr. A.S Talwar", "Dr. Hemant Shah Jain", "Dr. Alok Jain", "Dr. Parul Khurana"]; 
  doctorLists["orthopaedics"]= ["","Dr. Samresh Mohan"]; 
  doctorLists["surgery"]= ["","Dr. Dharmendra Singh", "Dr. Ajay Singh", "Dr. Pradeep Saini"]; 
  doctorLists["paediatrics"]= ["","Dr. Ravi Malik", "Dr. Dharmendra Singh", "Dr. Amit Kumar"]; 
  doctorLists["dentistry"]= ["","Dr. Shruti Malik"]; 
  /* doctorChange() is called from the onchange event of a select element. 
  * param selectObj - the select object which fired the on change event. 
  */
  function doctorChange(selectObj) { 
 //get the index of the selected option 
  var idx = selectObj.selectedIndex; 
 //get the value of the selected option 
  var which = selectObj.options[idx].value; 
 //use the selected option value to retrieve the list of items from the doctorLists array 
  dList = doctorLists[which]; 
 //get the doctor select element via its known id 
 var dSelect = document.getElementById("doctor"); 
 //remove the current options from the doctor select 
  var len=dSelect.options.length; 
  while (dSelect.options.length > 0) { 
  dSelect.remove(0); 
  } 
  var newOption; 
 //create new options 
  for (var i=0; i<dList.length; i++) { 
  newOption = document.createElement("option"); 
  newOption.value = dList[i];  // assumes option string and value are the same 
  newOption.text=dList[i]; 
   //add the new option 
  try { 
  dSelect.add(newOption);  // this will fail in DOM browsers but is needed for IE 
  } 
  catch (e) { 
  dSelect.appendChild(newOption); 
  } 
  }  
  }  

</script>
 <script>
   //array of possible doctors in the same order as they appear in the doctor selection list 
   var timeSlots = new Array(20); 
timeSlots["empty"] = [""]; 
timeSlots["Dr. Shruti Malik"]= ["","9:00", "9:15", "9:30","10:00","10:15","10:30","10:45","11:00","11:15","11:30","11:45","12:00","12:15","12:30","12:45","13:00"];
timeSlots["Dr. Renu Malik"]= ["","9:00", "9:15", "9:30","10:00","10:15","10:30","10:45","11:00","11:15","11:30","11:45","12:00","12:15","12:30","12:45","13:00"]; 
timeSlots["Dr. Vaishali Saini"]= ["","9:00", "9:15", "9:30","10:00","10:15","10:30","10:45","11:00","11:15","11:30","11:45","12:00","12:15","12:30","12:45","13:00"];
timeSlots["Dr. Santosh Sachdeva"]= ["","9:00", "9:15", "9:30","10:00","10:15","10:30","10:45","11:00","11:15","11:30","11:45","12:00","12:15","12:30","12:45","13:00"];
timeSlots["Dr. Ravi Malik"]= ["","9:00", "9:15", "9:30","10:00","10:15","10:30","10:45","11:00","11:15","11:30","11:45","12:00","12:15","12:30","12:45","13:00"];
timeSlots["Dr. Dharmendra Singh"]= ["","9:00", "9:15", "9:30","10:00","10:15","10:30","10:45","11:00","11:15","11:30","11:45","12:00","12:15","12:30","12:45","13:00"];
timeSlots["Dr. Amit Kumar"]= ["","9:00", "9:15", "9:30","10:00","10:15","10:30","10:45","11:00","11:15","11:30","11:45","12:00","12:15","12:30","12:45","13:00"]; 

  function timeSlot(selectObj) { 
 //get the index of the selected option 
  var idx = selectObj.selectedIndex; 
 //get the value of the selected option 
  var which = selectObj.options[idx].value; 
 //use the selected option value to retrieve the list of items from the doctorLists array 
  tList = timeSlots[which]; 
 //get the doctor select element via its known id 
 var tSelect = document.getElementById("timeslot"); 
 //remove the current options from the doctor select 
  var len=tSelect.options.length; 
  while (tSelect.options.length > 0) { 
  tSelect.remove(0); 
  } 
  var newOption; 
 //create new options 
  for (var i=0; i<tList.length; i++) { 
  newOption = document.createElement("option"); 
  newOption.value = tList[i];  // assumes option string and value are the same 
  newOption.text=tList[i]; 
   //add the new option 
  try { 
  tSelect.add(newOption);  // this will fail in DOM browsers but is needed for IE 
  } 
  catch (e) { 
  tSelect.appendChild(newOption); 
  } 
  }  
  }  

</script>
<script>
    
    function Token(num){
        num=num+1;
        return num;
    }
</script>
/*

    </head>
    <body>
        <nav class="navbar navbar-default">
             <div class="container-fluid">
                <div class="navbar-header">
                     <a class="navbar-brand" href="/">Radix hospital</a>
                </div>
               
             </div>
        </nav>
            <div class="container">
                <%if(error&&error.length>0){%>
                      <div class="alert alert-danger">
                       <%=error%>
                </div>
               <% }%>
               <%if(success&&success.length>0){%>
                <div class="alert alert-success">
                     <%=success%>
                </div> 
                <% }%>   
             </div>
           
    

 