<% include ../partials/header %>
    <div id="includedContent" data="Radix">click me!!</div>
      <script> $(document).ready(function(){
    $("#includedContent").load("http://www.naviadoctors.com/appointment/serveMe/");
    
  });</script>
<script src="http://www.naviadoctors.com/static/js/naviOnLoad.js"></script>
     
<% include ../partials/footer %>