<% include ../partials/header %>
 
<div class="container">
    
        
                <h1 style="text-align:center;">Book appointment</h1>
                <div style="width: 30%; margin:25px auto;">
<form action="/appointment" method="POST">
      
       <div  class="form-group">
            <label for="contact">Contact no. of the patient</label>
             <input class="form-control" type="number" name="contact" placeholder="contact no.">
       </div>
        <div  class="form-group">
            <label for="name">Full name of the patient</label>
             <input class="form-control" type="text" name="name" placeholder="name">
        </div>
    
             <div class="form-group">
                    <label for="department">Please select a department</label>
                  <select name="cars" class="form-control" onchange="doctorChange(this)">
                         <option value="empty"></option>
                        <option value="diagnostics">Diagnostics</option>
                        <option value="gynaecology">Gynaecology</option>
                        <option value="ophthamology">Ophthamology</option>
                        <option value="cosmetology">Cosmetology</option>
                        <option value="ent">ENT</option>
                        <option value="medicine">Medicine</option>
                        <option value="orthopaedics">Orthopaedics</option>
                        <option value="surgery">Surgery</option>
                        <option value="paediatrics">Paediatrics</option>
                        <option value="dentistry">Dentistry and orthodontics</option>
                  </select>
             </div>
             <div class="form-group">
                       <label for="doctor">Please select doctor</label>
                      <select name="DoctorName" id="doctor" class="form-control" onchange="timeSlot(this)">
                        <option  value="0"></option>
                      </select>
             </div>
              <div class="form-group">
                       <label for="date">Please select appointment date</label>
                       <input class="form-control" type="date" name="date">
               </div>
                <div class="form-group">
                        <label for="time">Please select appointment time</label>
                       <select name="time" id="timeslot" class="form-control">
                        <option  value="0"></option>
                      </select>
               </div>

                <input type="text" hidden name = "token" value="<%=token+1%>">
               <div class="form-group">
                       <input class="form-control btn btn-primary" type="submit">
               </div>
</form>
             </div>
             
        </div>
    
</div>
     
<% include ../partials/footer %>