<% include ../partials/header %>
    <a class="btn btn-lg btn-success" href="/appointment">click to go to appointment page</a>
       <script> $(document).ready(function(){
    $().load("");
    
  });</script>
<% include ../partials/footer %>